nav {
    width: 95%;
    position: fixed; 
    top: 0;
}

.topics {
    display: inline-block;
    width: 80px;
}

main { 
    position: relative;
    top: 100px;
    bottom: 100px;
}

#avatar img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

footer {
    position: fixed;
    bottom: 0;
}

h1 {
    text-align: center;
}

.icons, .print {
    display: inline-block;
    padding: 5px;
}

.others {
    text-align: end;
    margin: 20px;
}

.print {
    margin-right: 20px;
}